body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #008044;
}

main {
	flex: 2;
	text-align: center;
}

section {
	max-width: 800px;
	margin: 50px auto;
}
